{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}py
<h1> {{ prof.first_name }} {{ prof.second_name }} </h1>
{% for c in prof.courses_set.all %}
  <div class="row">
    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
    <a href="{% url 'mywebsite:courses_upload' course=c %}">   {{ c.courseName }}</a>
  </div>

<br>
{% endfor %}
{% if request.user.username == prof.user.username %}
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
 Add Courses
</button>
{% endif %}
<div class="modal fade" id="modal-default">
<div class="modal-dialog">
<div class="modal-content">
 <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span></button>
   <h4 class="modal-title">Add a course</h4>
 </div>
 <div class="modal-body">
   <form method="POST" >
     {% csrf_token %}
     <table border="5">
       {{ form|crispy }}
     </table>
      <button type="submit" name="addPublication" class="save btn btn-primary">Save</button>
  </form>
 </div>
</div>
<!-- /.modal-content -->
</div>
</div>
{% endblock %}
